interface {{pascalCase name}}Props {
  // Add your props here
}

export function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return (
    <div>
      <h1>{{pascalCase name}} Component</h1>
      {/* Add your component content here */}
    </div>
  );
}